OPENAI(message a model).json
{
  "name": "OPENAI(message a model)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0e24b06-f0f8-4d26-a725-0e9877f9674b",
              "name": "openAI response ",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -96
      ],
      "id": "1e3d4560-d54b-4790-8ef5-8aba92b15c23",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -96
      ],
      "id": "95ad66e1-740a-4cac-afc6-86f0efa509a9",
      "name": "When chat message received",
      "webhookId": "ccc23e1a-2b9f-4b4b-8255-ea5d33ae392b"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        -96
      ],
      "id": "9692293c-10e5-4e68-865a-8512e1b2f4f5",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "f71QsW1HZxlZmOp0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ebfef57-4c8b-4a61-9acd-fe475dc70a1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fbd6ad1061e4f0bbbeada40d32ca2d129730566eabeda9a4e544d398c891755"
  },
  "id": "ODru6QXRqQ1hChq8",
  "tags": []
}